.page-footer {
  width: @page-width;
  margin: 0 auto;
  background-color: @footer-backgound-color;
}

.page-footer__wrapper {
  width: @second-width;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 63px 1fr;
}

.page-footer__contacts-text {
  .reset-p-and-heading ();
  text-align: center;
  padding-top: 35px;
  padding-bottom: 28px;
  border-bottom: 1px solid @border-second-color;
}

.page-footer__social {
  border-bottom: 1px solid @border-second-color;
}

.social__list {
  .reset-ul ();
  display: flex;
  flex-wrap: wrap;
  min-height: 63px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.social__item {
  width: 54px;
}

.page-footer__copyright {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 78px;
}

.copyright__text {
  .reset-p-and-heading ();
  text-align: left;
  font-size: 16px;
  padding-top: 28px;
}

.copyright__link {
  text-align: right;
  padding-top: 22px;
}
