.how-it-works {
  width: @page-width;
  margin: 0 auto 15px;

  @media (min-width: @tablet-width) {
    width: 768px;
    border-bottom: 1px solid @border-base-color;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    border-bottom: none;
  }
}

.how-it-works__wrapper {
  width: @second-width;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.how-it-works__title {
  padding-top: 7px;
  padding-bottom: 40px;
  .reset-p-and-heading ();
  font-family: @second-base-font;
  font-size: @h2-font-size;
  line-height: @h2-font-line-height;
  font-weight: @base-font-weight;
  color: @base-text-heading-color;

  @media (min-width: @tablet-width) {
    padding-top: 20px;
    padding-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 41px;
    padding-bottom: 71px;
  }
}

.how-it-works__list {
  .reset-ul ();

  @media (min-width: @tablet-width) {
    display: grid;
    min-height: 578px;
    grid-template-columns: 250px 250px;
    grid-gap: 58px 134px;
    padding-bottom: 16px;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 280px;
    grid-gap: 80px;
  }
}

.how-it-works__item {
  position: relative;
  padding-bottom: 26px;
  min-height: 54px;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
  }

  @media (min-width: @tablet-width) {
    width: 245px;
    padding-top: 112px;
    padding-left: 0;

    &::before {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

@media (min-width: @tablet-width) { //only desktop and tablet
  .how-it-works__item.how-it-works__item--icon-leaf {
    background: url("../img/tablet-image/1.svg") no-repeat 125px 0;
  }

  .how-it-works__item.how-it-works__item--icon-powder {
    background: url("../img/tablet-image/2.svg") no-repeat 125px 0;
  }

  .how-it-works__item.how-it-works__item--icon-knife-fork {
    background: url("../img/tablet-image/3.svg") no-repeat 125px 0;
  }

  .how-it-works__item.how-it-works__item--icon-timer {
    background: url("../img/tablet-image/4.svg") no-repeat 125px 0;
  }
}

.how-it-works__item--icon-leaf {
  &::before {
    background-image: url("../img/message-1.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/message-1@2x.png");
      background-size: 60px 60px;
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/tablet-image/message-1-tablet.png");
      background-size: 80px 80px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/tablet-image/message-1-tablet@2x.png");
      }
    }
  }
}

.how-it-works__item--icon-powder {
  &::before {
    background-image: url("../img/message-2.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/message-2@2x.png");
      background-size: 60px 60px;
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/tablet-image/message-2-tablet.png");
      background-size: 80px 80px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/tablet-image/message-2-tablet@2x.png");
      }
    }
  }
}

.how-it-works__item--icon-knife-fork {
  &::before {
    background-image: url("../img/message-3.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/message-3@2x.png");
      background-size: 60px 60px;
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/tablet-image/message-3-tablet.png");
      background-size: 80px 80px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/tablet-image/message-3-tablet@2x.png");
      }
    }
  }
}

.how-it-works__item--icon-timer {
  &::before {
    background-image: url("../img/message-4.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/message-4@2x.png");
      background-size: 60px 60px;
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/tablet-image/message-4-tablet.png");
      background-size: 80px 80px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/tablet-image/message-4-tablet@2x.png");
      }
    }
  }
}
