.live-example {
  min-width: @page-width;
  margin: 0 auto;
  background-color: @second-base-background-color;

  @media (min-width: @tablet-width) {
    width: 100%;
    background: linear-gradient(to right, #eaeaea 50%, #eaeaea 50%) no-repeat;
    background-size: 100% 462px;
    background-position: 0 602px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
    background: linear-gradient(to right, #f2f2f2 72.5%, #eaeaea 72.5%) no-repeat;
    background-size: 100% 462px;
    background-position: 0 136px;
  }
}

.live-example__wrapper {
  position: relative;
  width: @second-width;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 610px 1fr;
    grid-template-rows: 199px 173px 82px 143px;
    min-height: 598px;

    &::after {
      z-index: 0;
      position: absolute;
      content: "";
      width: 395px;
      height: 462px;
      top: 136px;
      left: 934px;
      background-image: url("../img/desktop-image/rectangle.jpg");
      background-color: initial;
      background-size: 395px 462px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/desktop-image/rectangle@2x.png");
        background-size: 395px 462px;
      }
    }
  }
}

.live-example__title {
  padding-top: 32px;
  padding-bottom: 32px;
  .reset-p-and-heading ();
  font-family: @second-base-font;
  font-size: @h2-font-size;
  line-height: @h2-font-line-height;
  font-weight: @base-font-weight;
  color: @base-text-heading-color;

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1/2";
    padding-top: 0;
    padding-bottom: 124px;
  }
}

.live-example__description {
  .reset-p-and-heading ();
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding-bottom: 54px;
    width: 702px;
    padding-right: 6px;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1/2";
    width: 436px;
    padding-top: 8px;
  }
}

.live-example__wrapper-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 32px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 162px 162px 1fr;
    display: inline-grid;
    margin-bottom: 50px;
    grid-gap: 42px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 162px 162px;
    grid-column: ~"1/2";
  }
}

.live-example__weight {
  position: relative;
  box-sizing: border-box;
  width: 124px;
  padding-top: 14px;
  min-height: 64px;
  font-size: 24px;
  line-height: 24px;
  font-family: @second-base-font;
  color: @base-text-heading-color;
  text-transform: @text-transfrom-up;
  background: url("../img/border-for-exampl.svg") no-repeat;
  display: block;

  &::after {
    position: absolute;
    content: "снижение веса";
    top: 47px;
    left: 22px;
    display: inline-block;
    width: 77px;
    height: 9px;
    font-size: 12px;
    line-height: 12px;
    color: @base-text-color;
    font-family: @base-font;
    text-transform: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    min-height: 72px;
    background: url("../img/tablet-image/border-for-example-tablet.svg") no-repeat;

    &::after {
      font-size: 14px;
      line-height: 14px;
      width: 97px;
      top: 62px;
      left: 32px;
    }
  }
}

.live-example__days {
  position: relative;
  box-sizing: border-box;
  width: 124px;
  padding-top: 14px;
  min-height: 64px;
  font-size: 24px;
  line-height: 24px;
  font-family: @second-base-font;
  color: @base-text-heading-color;
  text-transform: @text-transfrom-up;
  background: url("../img/border-for-exampl.svg") no-repeat;
  display: block;

  &::after {
    position: absolute;
    content: "затрачено времени";
    top: 47px;
    left: 32px;
    display: inline-block;
    width: 59px;
    height: 13px;
    font-size: 12px;
    line-height: 12px;
    color: @base-text-color;
    font-family: @base-font;
    text-transform: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    min-height: 72px;
    background: url("../img/tablet-image/border-for-example-tablet-2.svg") no-repeat;

    &::after {
      font-size: 14px;
      line-height: 14px;
      width: 127px;
      top: 62px;
      left: 17px;
    }
  }
}

.live-example__food-price {
  .reset-p-and-heading ();
  text-align: center;
  padding-top: 28px;
  padding-bottom: 42px;
  font-size: 14px;
  line-height: 20px;
  color: @base-text-heading-color;
  text-transform: @text-transfrom-up;
  font-family: @second-base-font;

  @media (min-width: @tablet-width) {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    text-align: right;
    width: 174px;
    font-size: 20px;
    margin-left: 121px;
    top: 11px;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1/2";
    margin: 0;
    text-align: left;
    width: 380px;
    padding-top: 32px;
  }
}

.live-example__decoration {
  @media (min-width: @tablet-width) {
    line-height: 34px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 59px;
  }
}

.live-example-image {
  margin-left: -20px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    display: block;
    box-sizing: border-box;
    width: 690px;
    height: 557px;
    background-image: url("../img/tablet-image/two-cats-tablet.png");
    background-repeat: no-repeat;
    background-position: -16px -18px;
    background-size: 708px 620px;
    padding-left: 690px;
    margin-left: 16px;
    margin-top: 31px;
    margin-bottom: -31px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet-image/two-cats-tablet@2x.png");
      background-size: 708px 620px;
    }
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.live-example-after {
  @media (max-width: @mobile-width-only) {
    margin-left: 18px;
    padding-bottom: 15px;
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.hidden { // skinny and fat cat on mobile
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.show {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.live-example__toggles {
  min-height: 30px;
  display: grid;
  grid-template-columns: 1fr 84px 1fr;
  padding-bottom: 23px;
  position: relative;

  &::before {
    @media (min-width: @desktop-width) {
      z-index: 1;
      position: absolute;
      content: "";
      top: -528px;
      left: -40px;
      width: 690px;
      height: 550px;
      background: url("../img/desktop-image/image-two-cats-desktop.png") no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/desktop-image/image-two-cats-desktop@2x.png");
        background-size: 690px 656px;
      }
    }
  }

  button:first-child {
    position: relative;
    margin-top: -14px;
    padding-left: 33px;

    @media (min-width: @tablet-width) {
      margin-top: -7px;
      padding-left: 49px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 36px;
      padding-left: 39px;
      background-color: @button-second-backgound-color;
      text-decoration: underline dotted @slider-color;
    }
  }

  button:last-child {
    position: relative;
    margin-top: -14px;
    padding-left: 18px;
    text-align: left;

    @media (min-width: @tablet-width) {
      margin-top: -10px;
      padding-left: 19px;
      grid-column: ~"3/4";
    }

    @media (min-width: @desktop-width) {
      z-index: 1;
      padding-top: 36px;
      grid-column: ~"3/4";
      text-decoration: underline dotted @slider-color;
    }
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 428px 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 449px 1fr;
  }
}

.slider__toggle { // кнопки: было&стало
  .reset-p-and-heading ();
  color: @base-text-heading-color;
  font-size: @button-size;
  line-height: @button-line-height;
  text-transform: @text-transfrom-up;
  font-family: @second-base-font;
  background-color: @second-base-background-color;
  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 53px;
  }
}

.slider__mobile { //slider для мобильного
  transition: 0.2s;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.slider__mobile--scale { //оживление слайдера для мобильного
  @media (max-width: @mobile-width-only) {
    transform: scale(-1, 1);
  }
}

.slider__tablet { //slider tablet&desktop интерактивный
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    appearance: none;
    position: relative;
    top: -4px;
    left: 1px;
    z-index: 2;
    width: 428px;
    height: 6px;
    border-radius: 6px;
    background: @slider-color;
    outline: none;
    transition: 0.01s;

    &:hover {
      cursor: pointer;
    }

    &::-webkit-slider-thumb { // ручка слайдера
      appearance: none;
      width: 38px;
      height: 38px;
      border: none;
      background: url("../img/desktop-image/slider-control.svg");
      cursor: pointer;

      &:hover {
        transform: scale(1.15);
      }
    }
  }

  @media (min-width: @desktop-width) {
    top: 29px;
    left: 15px;
  }
}
