// Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;

//Colors

//background-base
@base-background-color: #ffffff;
@second-base-background-color: #eaeaea;
@footer-backgound-color:#f2f2f2;
@programs-backgound-color:#f2f2f2;
@catalog-background-color:#f2f2f2;
//text
@basic-white:#ffffff;
@base-text-color: #444444;
@base-text-heading-color: #000000;
//button
@button-base-backgound-color: #68b738;
@button-second-backgound-color:#f2f2f2;
@button-base-color: #f2f2f2;
@button-second-color: #444444;
//border
@border-base-color: #e6e6e6;
@border-second-color: #d9d9d9;
@error: #ff8282;
//slider
@slider-color: #dcdcdc;
@welcome-background-color: rgba(69, 150, 30, 0.85);

//Fonts

@base-font: "Arial";
@second-base-font: "Oswald";
@base-font-size: 14px;
@base-line-height: 18px;
@base-form-font-size: 16px;
@base-form-line-height: 18px;
@text-for-table-size: 12px;
@text-for-table-line-height: 16px;
@mobile-addproduct-head-size: 16px;
@mobile-addproduct-head-line-height: 16px;
@text-transfrom-up: uppercase;
//font-weight
@base-font-weight: 400;
@second-font-weight: 500;
//btn/link
@link-font-size: 20px;
@link-line-height: 20px;
@button-size: 16px;
@button-line-height: 20px;

//Heading

@h1-font-size: 36px;
@h1-font-line-height: 36px;
@h1-mobile-color: #ffffff;
@h2-font-size: 36px;
@h2-font-line-height: 40px;
@h3-font-size: 24px;
@h3-font-line-height: 37px;
@h3-font-second-line-height: 24px;
@h3-second-size: 16px;
@h3-second-line-height: 20px;

//Wrappers

@page-width: 320px;
@second-width: 280px;

//User

@disabled-color: rgba(34, 34, 34, 1);
@active-base: #68b738;
@active-second: #ffffff;
@hover-base-radio: #bababa;
@hover-base-background-color:#5eaa2f;
@hover-base-color: rgba(255, 255, 255, 0.3);
@focus-base-color: rgba(1, 1, 1, 0.3);
