.adaptive-additionally-mobile {
  width: @page-width;
  margin: 0 auto;
  background-color: @base-background-color;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 1440px;

    & div:nth-of-type(2) {
      border-top: 1px solid @border-base-color;
    }
  }
}

.adaptive-additionally-mobile__title-wrapper {
  width: @page-width;
  margin: 0 auto;
  border-bottom: 1px solid @border-base-color;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    border-bottom: none;
  }
}

.adaptive-additionally-mobile__title {
  position: relative;
  .reset-p-and-heading ();
  padding-top: 25px;
  padding-bottom: 34px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: @h3-font-size;
  font-weight: @base-font-weight;
  line-height: @h3-font-second-line-height;
  color: @base-text-heading-color;
  font-family: @second-base-font;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 68px;
    padding-bottom: 80px;
    padding-left: 37px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 75px;
    padding-left: 0;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 2px solid @button-base-backgound-color;
  }

  &::before {
    top: 39px;
    left: 266px;

    @media (min-width: @tablet-width) {
      width: 100%;
      top: 91px;
      left: 410px;
    }

    @media (min-width: @desktop-width) {
      width: 100%;
      top: 98px;
      left: 373px;
    }
  }

  &::after {
    @media (max-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      width: 100%;
      top: 91px;
      left: -708px;
    }

    @media (min-width: @desktop-width) {
      width: 100%;
      top: 98px;
      left: -1260px;
    }
  }
}

.adaptive-additionally-mobile__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: @second-width;
  border-bottom: 1px solid @border-base-color;
  min-height: 130px;

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 114px;

    & div:nth-child(1) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 39px;
      margin-top: 25px;
      margin-bottom: 5px;
    }

    @media (min-width: @desktop-width) {
      width: 895px;
      display: inline-flex;
      justify-content: space-between;
      min-height: 72px;
      align-items: center;
      margin-left: 111px;
      flex-direction: row;

      & div:nth-child(1) {
        display: initial;
        margin: 0;
      }
    }
  }
}

.adaptive-additionally-mobile__link {
  .reset-a ();
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
  min-height: 40px;
  width: 280px;
  color: @button-base-color;
  text-transform: @text-transfrom-up;
  font-size: @button-size;
  font-family: @second-base-font;
  line-height: @button-line-height;
  background-color: @button-base-backgound-color;

  @media (min-width: @tablet-width) {
    width: 632px;
    min-height: 40px;
    margin: 0 37px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    min-height: 40px;
    margin: 0;
  }

  &:hover {
    background-color: @hover-base-background-color;
  }

  &:focus {
    color: @hover-base-color;
  }
}

.adaptive-additionally-mobile__head {
  .reset-p-and-heading ();
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: @mobile-addproduct-head-size;
  font-family: @second-base-font;
  line-height: @mobile-addproduct-head-line-height;
  color: @base-text-heading-color;
  text-transform: @text-transfrom-up;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-right: 65px;
    display: inline-block;
    width: 255px;
  }
}

.adaptive-additionally-mobile__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @desktop-width) {
    display: initial;
    grid-template-columns: none;
  }
}

.adaptive-additionally-mobile__text {
  .reset-p-and-heading ();
  line-height: 14px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 132px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    display: inline-block;
  }

  &:nth-child(2) {
    text-align: right;

    @media (min-width: @tablet-width) {
      text-align: center;
      padding-left: 11px;
      box-sizing: border-box;
    }

    @media (min-width: @desktop-width) {
      display: inline-block;
      width: 70px;
      text-align: left;
      box-sizing: initial;
      padding-left: 107px;
      padding-top: 20px;
      padding-right: 10px;
    }
  }
}
